<%- include('partials/head.ejs') %>

    <body>
        <!-- Navigation-->
        <%- include('partials/navbar') %>
            <!-- Product section-->
            <section class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                src="<%= listing.picture %> " alt="..." /></div>
                        <div class="col-md-6">
                            <h1 class="display-5 fw-bolder"><%= listing.nameOfListing %> </h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on <%= listing.createsAt %> by <%= listing.nameOfOwner %></div>
                            <div class="badge bg-dark text-white p-1 text-uppercase text-center "> <p> <%= listing.category %> </p> </div>
                            <div class="fs-5 mb-5">
                                <span>PHP <%= listing.price %> /<i> per night</i></span>
                            </div>
                            <p class="lead"><%= listing.description %> </p>
                            <div class="d-flex">
                                <link rel="stylesheet" href="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="container">
                <hr>
                <h3>Where you’ll be</h3>
            </div>
           
            <div class="row justify-content-center px-5 mb-5 my-5">
                <iframe src="<%= listing.addressmap %>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Comments section-->
            <section class="container mb-5 px-5 px-lg-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form action="/home/<%= listing._id  %>/comment " class="mb-4" method="post" ><textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Share your experience and leave a comment!"></textarea>
                                <button class="btn btn-primary my-4">Add Review</button>
                        </form>
                        
                        <!-- Comment with nested comments-->
                        <% listing.comments.forEach((comment) => { %> 
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                           
                                <div class="px-4"><img class="rounded-circle"src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt=".. " /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">
                                        <strong><%= comment.author  %> </strong>
                                        <p><%= comment.comment %> </p>
                                    </div>
                                </div>
                                <br>
                        </div>
                        <hr>
                        <% }) %>
            </section>
            <%- include('partials/footer') %>
    </body>

    </html>